body {
    background: #0C1301;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul {
    display: flex;
    gap: 159px;
    margin-top: 5px;
}

a {
    color: #FFAB5C;
}